body {
  font-family: Arial;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.box {
  width: 380px;
  padding: 25px;
  background: white;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

button {
  background: #007bff;
  color: white;
  border: none;
}
